.rd2-cal-header-dayname {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 300;
}

.rd2-cal-header-daynum {
    margin: 0 auto;
    font-size: 1.1rem;
    font-weight: 300;
    height: 30px;
    margin-bottom: 3px;
}

.rd2-cal-header-daynum-current {
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #0c5ceb;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}


/* CUSTOMIZZAZIONE CALENDARIO FULLCALENDAR*/
.fc-time-grid .fc-slats td {
    height: 3rem;
}